@use './utils/variables';
@use './utils/mediaMixins' as *;
@use './utils/reset';
@use './utils/fonts';
@use './utils/animations';
@use './utils/helpers';






@use './components/ticker';




@use './sections/header';
@use './sections/section-hero';
@use './sections/section-advantages';
@use './sections/section-projects';
@use './sections/section-reviews';
@use './style-white.scss';



body {
  min-height: 100vh;
  color: var(--color-text-v2);
  background-color: black;
  font-family: sans-serif;

}


// background: linear-gradient(120deg, #000000, #434343, #000000);
// background-size: 300% 300%;
// animation: gradientShift 6s ease infinite;

// @keyframes gradientShift {
//   0% {
//     background-position: 0% 50%;
//   }

//   50% {
//     background-position: 100% 50%;
//   }

//   100% {
//     background-position: 0% 50%;
//   }
// }

.main {
  overflow: hidden;
}



.center-x {
  margin-left: auto;
  margin-right: auto;
}

.wrapper-width {
  max-width: 1576px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.sub-title {
  font-size: 40px;
  letter-spacing: .15em;
  text-decoration: underline;

  @include max_767 {
    font-size: min(30px, 10vw);
  }
}

.hidden-animation {
  opacity: 0;
  transition: opacity 1s linear;
}

.visible-animation {
  transition: opacity 1s linear;
  opacity: 1;
}


.footer {
  padding-top: 50px;
  padding-bottom: 50px;

  color: rgb(86, 86, 136);

  .footer__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 50px;
  }
}

.address {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(86, 86, 136);

  @include max_767 {
    font-size: 16px;
  }

  &__link {
    @include helpers.hover-and-pointer {
      transition: opacity .3s, color .3s;

      &:hover {
        opacity: .8;
        color: wheat;
      }
    }
  }
}

.copyright {
  font-weight: 700;
}


.dog {
  width: 400px;
  height: 400px;
  position: fixed;
  bottom: 0;
  right: 0;
  transform: rotate(-20deg);
  transition: transform .5s;
}

.hidden-dog {
  transform: rotate(-20deg) translateX(100%);
}

.run-dog {
  position: relative;
  width: 170px;
  height: 70px;
  position: fixed;
  top: -10px;
  right: 0;
  perspective: 150px;
  z-index: 1000;
  transform: translateX(100%);

  @include max_767 {
    top: 0;
    width: 100px;
    height: 40px;
  }

  &::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: -64px;

    background-image: url('../img/scate.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include max_767 {
      bottom: -38px;
    }
  }

  & img {
    transform: rotateX(0deg) rotateY(20deg);
    transform-style: preserve-3d;
  }
}




.run-dog-run {
  transition: transform 3s cubic-bezier(0,.69,.98,.02);
  transform: translateX(-100vw);
}