@use '../utils/helpers';
@use '../utils/mediaMixins' as *;

.cube-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;


  column-gap: 200px;
  row-gap: 100px;
  padding-top: 120px;
  padding-right: 200px;
  padding-left: 200px;
  padding-bottom: 120px;


  @include max_1680 {
    grid-template-columns: 1fr 1fr;
    padding-right: 100px;
    padding-left: 100px;
  }

  @include max_1279 {
    column-gap: 100px;
  }

  @include max_1024 {
    column-gap: 50px;
    row-gap: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include max_575 {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }


  &__item {
    perspective: 2000px;
    perspective-origin: 50% 50%;
   

    @include max_1279 {
      perspective-origin: 50% 20%;
    }

    @include max_575 {
      perspective: 4000px;
    }
  }
  &__item:nth-child(4),
  &__item:nth-child(5),
  &__item:nth-child(6) {
    perspective-origin: 50% -50%;
  }


  &__item:nth-child(3) {
    @include max_1680 {
      perspective-origin: 50% -50%;
    }
  }
  &__item:nth-child(5),
  &__item:nth-child(6) {
    @include max_1680 {
      perspective-origin: 50% -140%;
    }
  }

  // mobile
  &__item:nth-child(1) {
    @include max_575 {
      perspective-origin: 50% 50%;
    }
  }
  &__item:nth-child(2) {
    @include max_575 {
      perspective-origin: 50% -50%;
    }
  }
  &__item:nth-child(3) {
    @include max_575 {
      perspective-origin: 50% -100%;
    }
  }
  &__item:nth-child(4) {
    @include max_575 {
      perspective-origin: 50% -150%;
    }
  }
  &__item:nth-child(5) {
    @include max_575 {
      perspective-origin: 50% -200%;
    }
  }
  &__item:nth-child(6) {
    @include max_575 {
      perspective-origin: 50% -250%;
    }
  }
}