@use './helpers';
@use './mediaMixins' as *;


.advantages-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  padding-top: 120px;
  padding-bottom: 120px;

  @include max_430 {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 26px;
    text-shadow: var(--text-shadow-v2);
    position: relative;
    z-index: 1;
  }

  &__paragraph {
    font-size: 20px;
    line-height: 1.7;
    text-shadow: var(--text-shadow-v2);
  }

  &__item {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    z-index: 0;
    width: 400px;
    height: 400px;
    padding: 20px;

    @include max_430 {
      width: 300px;
      height: 300px;
    }

    &::before {

      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      border-style: solid;
      border-width: 10px;
      border-color: rgb(0, 0, 205) rgb(210, 105, 30) rgb(123, 104, 238) rgb(255, 0, 255);
      outline: solid 1px wheat;
      transition: outline 1s linear;
      filter: blur(5px);
      box-shadow: 0 0 20px 20px black;
      animation: rotate 35s infinite linear, filter 0.5s ease;
    }

    @include helpers.hover-and-pointer {

      &:hover::before {
        animation-play-state: paused;
        outline: solid 20px;
        filter: blur(2px);
      }

      &:hover .advantages-list__gradient {
        animation-play-state: paused;
      }

      &:hover .advantages-list__gradient::before {
        animation: rotate 5s infinite linear;

      }
    }

    &:active::before {
      animation-play-state: paused;
      outline: solid 20px;
    }

    &:active .advantages-list__gradient {
      animation-play-state: paused;
    }

    &:active .advantages-list__gradient::before {
      animation: rotate 5s infinite linear;
    }
  }

  &__gradient {
    position: absolute;
    z-index: -1;
    width: 400px;
    height: 400px;
    animation: rotate 35s infinite linear;
    overflow: hidden;

    @include max_430 {
      width: 300px;
      height: 300px;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      left: -20%;
      top: -20%;
      right: -20%;
      bottom: -20%;
      background: conic-gradient(from 0deg,

          rgba(0, 0, 205) 0%,
          rgba(210, 105, 30) 10%,
          rgba(0, 0, 205) 20%,
          rgba(210, 105, 30)30%,
          rgb(255, 0, 255) 40%,
          rgb(123, 104, 238) 50%,
          rgb(255, 0, 255) 60%,
          rgb(123, 104, 238) 70%,
          rgba(210, 105, 30)80%,
          rgba(0, 0, 205) 90%);
      background-repeat: no-repeat;
      animation: rotate 15s infinite linear reverse;
    }
  }

}
