@use './helpers';


.theme-switcher {
  width: 50px;
  position: relative;
  cursor: pointer;
  border: none;
  background-color: transparent;

  &__img {
    width: 50px;
    height: 50px;
  }

  &::before {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    transform: rotate(-40deg);
    width: 20px;
    height: 3px;
    background-color: rgb(114, 188, 239);
    box-shadow: -1px 0 1px rgb(114, 188, 239);
    transition: transform ease-in .4s;
  }

  &::after {
    content: '';
    position: absolute;
    right: -3px;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: rgb(23, 29, 184);
    transition: transform ease-in .4s, background-color .3s, box-shadow ease-in .4s;
  }


  &--off {

    &::before {
      transform: translate(-1px, 20px) rotate(40deg);
    }

    &::after {
      transform: translate(0, 34px);
      background-color: red;
      border: solid 1px;
      box-shadow: 10px 0 10px 0 red;
    }



    @include helpers.hover-and-pointer {
     
      &:hover::after {
        box-shadow: 10px 0 10px 5px red;
      }
    }
  }
}