
<section id="advantages" class="section-advantages">
  <div class="container-canvas">
    <h2 class="section-advantages__title sub-title wrapper-width center-x">Our advantages</h2>
    <ul class="advantages-list wrapper-width center-x">
      <li class="advantages-list__item">
        <h3 class="advantages-list__title">Tailored Solutions</h3>
        <p class="advantages-list__paragraph">We create unique landing pages and applications that perfectly align with your
          specific needs and business goals.</p>
        <div class="advantages-list__gradient"></div>
      </li>
      <li class="advantages-list__item">
        <h3 class="advantages-list__title">High-Quality Development</h3>
        <p class="advantages-list__paragraph">Our experts ensure top-notch coding standards, guaranteeing excellent performance
          across all devices.</p>
        <div class="advantages-list__gradient"></div>
      </li>
      <li class="advantages-list__item">
        <h3 class="advantages-list__title">Fast Project Turnaround</h3>
        <p class="advantages-list__paragraph">We value your time and promise quick project completion without compromising on
          quality.</p>
        <div class="advantages-list__gradient"></div>
      </li>
      <li class="advantages-list__item">
        <h3 class="advantages-list__title">User -Friendly Design</h3>
        <p class="advantages-list__paragraph">Our websites and applications are intuitively designed for users, enhancing their
          overall experience and effectiveness.</p>
        <div class="advantages-list__gradient"></div>
      </li>
      <li class="advantages-list__item">
        <h3 class="advantages-list__title">Transparent Process</h3>
        <p class="advantages-list__paragraph">We ensure complete visibility throughout the development process, keeping you
          informed at every stage.</p>
        <div class="advantages-list__gradient"></div>
      </li>
      <li class="advantages-list__item">
        <h3 class="advantages-list__title">Ongoing Support</h3>
        <p class="advantages-list__paragraph">We offer reliable support and maintenance after project completion, allowing you to
          focus on growing your business.</p>
        <div class="advantages-list__gradient"></div>
      </li>
    </ul>
    <canvas class="container-canvas__canvas" id="starsCanvas"></canvas>
  </div>
</section>

