

<section class="hero">
  <div class="hero__text wrapper-width">
    <h1 class="hero-title hero-title--right">Mich Dev</h1>
    <h2 class="hero__title hero-title  hero-title--left hero-title--width-60vw">New Dev vector</h2>
    <!-- <ul class="anchor-links">
      <li><a href="#advantages" class="anchor-link">Advantages</a></li>
      <li><a href="#quality-guarantees" class="anchor-link">Quality Guarantees</a></li>
      <li><a href="#reviews" class="anchor-link">Reviews</a></li>
    </ul> -->
  </div>
  <div class="hero__slider">
    <div class="container-slider-29">
      <div class="container-slider-29__slider slider-29">
        <div class="slider__item-29 active-slide-29 hero__slider-item">
          <div class="slider__bg-29">
            <img class="lazy-load-hero" src="./assets/img/rocket-takeoff.jpg" alt="rocket-takeoff">
          </div>
        </div>
        <div class="slider__item-29 hero__slider-item">
          <div class="slider__bg-29">
            <img class="lazy-load-hero" alt="view from the rocket">
          </div>
        </div>
        <div class="slider__item-29 hero__slider-item">
          <div class="slider__bg-29">
            <img class="lazy-load-hero" alt="galaxy">
          </div>
        </div>
        <div class="slider__item-29 hero__slider-item">
          <div class="slider__bg-29">
            <img class="lazy-load-hero" alt="astronaut-on-the-planet">
          </div>
        </div>
        <div class="slider__item-29 hero__slider-item">
          <div class="slider__bg-29">
            <img class="lazy-load-hero" alt="flower-in-a-vase">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="hero__container-slider-btn wrapper-width">
    <button style="display: none;" class="hero__slider-btn hero__slider-btn--prev">
      <img src="./assets/img/icons8-стрелка-100.png" alt="prev slide">
    </button>
    <button  class="hero__slider-btn hero__slider-btn--next">
      Go
    </button>


  </div>
</section>
