<header class="header">
  <div class="header-content wrapper-width center-x">
    <a href="index.html" class="logo-site">
      <img class="logo-site__img" src="./assets/img/mich-dev.png" alt="Logo Mich dev">
    </a>

    <div class="header-content__container-switch">
      <div class="header-content__theme-switcher">
        <button class="theme-switcher theme-switcher--off">
          <img class="theme-switcher__img" src="./assets/img/switch.png"></img>
        </button>
      </div>

      <button aria-label="dance man" class="dance-btn header-content__dance-btn">

      </button>
    </div>



    <div class="header-content__dance">

      <div aria-label="dance sprite man" class="man-sprite">
      </div>
    </div>

  </div>

</header>