<!-- <section id="new" class="new">
  <div class="wrapper-width center-x">
    <h2 class="new__title sub-title ">New</h2>

  </div>
  <article class="new-product wrapper-width center-x">
    <h3 class="new-product__title">IT Shabashka</h3>
    <a  class="new-product__link" href="https://itshabashka.ru/" rel="noopener noreferrer" target="_blank" >
      to experience
    </a>
  </article>
</section> -->


<section id="new" class="section-new">

  

  <div class="slider-new">
    <div class="slider-new__ball">
    </div>
    <div class="slider-new__info">
      <h3 class="slider-new__title">IT Shabashka</h3>
      <a  class="slider-new__link" href="https://itshabashka.ru/" rel="noopener noreferrer" target="_blank" >
        to experience
      </a>
    </div>
  
 

    <div class="slider-new__img  slider-new__img--active">
      <img src="./assets/img/it-4.webp" alt="image">
    </div>
    <div class="slider-new__img">
      <img src="./assets/img/it-2.webp" alt="image">
    </div>
    <div class="slider-new__img">
      <img src="./assets/img/it-3.webp" alt="image">
    </div>
    <div class="slider-new__img">
      <img src="./assets/img/it-1.webp" alt="image">
    </div>
    <div class="slider-new__img">
      <img src="./assets/img/it-5.webp" alt="image">
    </div>
  </div>


</section>