<section id="projects" class="projects">

    <div aria-hidden="true" class="projects__bg-video video-dark-theme">
        <video autoplay muted loop playsinline>
            <source src="./assets/video/night_rain.mp4" type="video/mp4">
            Ваш браузер не поддерживает тег video.
        </video>
    </div>

    <div aria-hidden="true" class="projects__bg-video video-white-theme">
        <video autoplay muted loop playsinline>
            <source src="./assets/video/day_scattered_clouds.mp4" type="video/mp4">
            Ваш браузер не поддерживает тег video.
        </video>
    </div>

    <div aria-hidden="true" class="projects__container-decor decor">
        <div class="decor__line hidden-animation"></div>
        <div class="decor__line"></div>
        <div class="decor__line hidden-animation"></div>
    </div>


    <h2 class="projects__title sub-title wrapper-width center-x">Our Projects</h2>

    <ul class="cube-list">

        <li>
            <a href="https://tudovchanin.github.io/vrnas/#/" target="_blank" class="cube">
                <div class="cube__face cube__face--front cube__face--vrnas">
                </div>
                <div class="cube__face cube__face--left cube__face--vrnas">
                </div>
                <div class="cube__face cube__face--right cube__face--vrnas">
                </div>
                <div class="cube__face cube__face--top cube__face--vrnas">
                </div>
                <div class="cube__face cube__face--bottom cube__face--vrnas">
                </div>
                <div class="cube__face cube__face--back cube__face--vrnas">
                </div>
            </a>
        </li>

        <li>
            <a href="http://appweather.ru/" target="_blank" class="cube">
                <div class="cube__face cube__face--front cube__face--appweather">
                </div>
                <div class="cube__face cube__face--left cube__face--appweather">
                </div>
                <div class="cube__face cube__face--right cube__face--appweather">
                </div>
                <div class="cube__face cube__face--top cube__face--appweather">
                </div>
                <div class="cube__face cube__face--bottom cube__face--appweather">
                </div>
                <div class="cube__face cube__face--back cube__face--appweather">
                </div>
            </a>
        </li>

        <li>

            <a href="https://tudovchanin.github.io/rock-paper-scissors-master/" target="_blank" class="cube">
                <div class="cube__face cube__face--front cube__face--game">
                </div>
                <div class="cube__face cube__face--left cube__face--game">
                </div>
                <div class="cube__face cube__face--right cube__face--game">
                </div>
                <div class="cube__face cube__face--top cube__face--game">
                </div>
                <div class="cube__face cube__face--bottom cube__face--game">
                </div>
                <div class="cube__face cube__face--back cube__face--game">
                </div>
            </a>
        </li>

        <li>

            <a href="https://tudovchanin.github.io/space-tourism/" target="_blank" class="cube">
                <div class="cube__face cube__face--front cube__face--space">
                </div>
                <div class="cube__face cube__face--left cube__face--space">
                </div>
                <div class="cube__face cube__face--right cube__face--space">
                </div>
                <div class="cube__face cube__face--top cube__face--space">
                </div>
                <div class="cube__face cube__face--bottom cube__face--space">
                </div>
                <div class="cube__face cube__face--back cube__face--space">
                </div>
            </a>
        </li>


        <li>
            <a href="https://tudovchanin.github.io/catdog/" target="_blank" class="cube">
                <div class="cube__face cube__face--front cube__face--cat-dog">
                </div>
                <div class="cube__face cube__face--left cube__face--cat-dog">
                </div>
                <div class="cube__face cube__face--right cube__face--cat-dog">
                </div>
                <div class="cube__face cube__face--top cube__face--cat-dog">
                </div>
                <div class="cube__face cube__face--bottom cube__face--cat-dog">
                </div>
                <div class="cube__face cube__face--back cube__face--cat-dog">
                </div>
            </a>
        </li>

        <li>
            <a href="https://tudovchanin.github.io/slider29/" target="_blank" class="cube">
                <div class="cube__face cube__face--front cube__face--slider-29">
                </div>
                <div class="cube__face cube__face--left cube__face--slider-29">
                </div>
                <div class="cube__face cube__face--right cube__face--slider-29">
                </div>
                <div class="cube__face cube__face--top cube__face--slider-29">
                </div>
                <div class="cube__face cube__face--bottom cube__face--slider-29">
                </div>
                <div class="cube__face cube__face--back cube__face--slider-29">
                </div>
            </a>
        </li>

    </ul>

</section>